
<br>

<div class="container" style=" box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);" >

    <form class="form-horizontal" method="post" action="Publica" name="formdata" >
        
        <br>

        <h3 align="center"> Escolha a data da Edição </h3>

        <hr>

        <div class="form-row">

            <div class="form-group col-md-2">

                <label for="data">Data:</label> 

                <input id="datapublica" name="datapublica" type="date" placeholder="Exemplo: 31-12-2021 " class="form-control input-md" autocomplete="off" required ="" >

            </div> 

        </div>   

        <hr>

        <div class="form-row">

            <div class="form-group col-md-12">

                <button class="btn btn-primary" name="escolhaedicao"  id="escolhaedicao"    type="submit" value="edicao">Buscar a Edição por datas</button>

                <button class="btn btn-primary" name="relatorioanual" id="relatorioanual"   type="submit" value="relanual">Relatório</button>

                <button class="btn btn-primary" name="demonstrativo"  id="demonstrativo"    type="submit" value="demons">Demonstrativo</button>

            </div>

        </div>

    </form>

    <hr>

</div>
