<div class="container">

    <div style=" box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);">
  
        <br>

        <div>

                        <label for="ativa">Situação do usuário</label>

                        <select class="custom-select" id="ativa" name="ativa" required>

                            <option value="0">1 - Inicial</option>

                            <option value="1">2 - Ativo</option>

                            <option value="2">2 - Desativado</option>

                        </select>

                    </div>


                </div>


                <button type="submit" name="cadastrarusers" id="cadastrarusers" class="btn btn-primary">Salvar</button>

                <a href="Documentos" name="retornardoc" id="retornardoc" class="btn btn-primary"
                    role="button">Retornar</a>


            </form>


        </div>

        <div class="card-footer text-muted">

            Uso exclusivo de Administradores

        </div>

    </div>

</div>