<div class="container">

    <div style=" box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);">
  
        <br>

        <div>

            <select id="listagementes" class="form-select" aria-label="Default select example">

                <option selected>Open this select menu</option>

                <option value="1">One</option>

                <option value="2">Two</option>

                <option value="3">Three</option>

            </select>

        </div>



        Ente: <input type="number" class="form-control" id="ente" name="ente">

        Tipo: <input type="number" class="form-control" id="tipo" name="tipo">

        Nome: <input type="text" class="form-control" id="descricao" name="descricao">

        <br>

        <button type="button"  class="btn btn-primary" onclick="gravartipo();">Gravar Tipo</button>
    
        <button type="button" class="btn btn-primary" onclick="ler();">Listagem de Tipos</button>

        <hr>

    </div>

      
</div>